<section class="home-hero-section section">
  <div class="container home-hero-container js-home-hero">
    <div class="js-default-home-hero visually-hidden">
      <div class="back-drop-img-container">
        <img
          src="images/home/hero.jpg"
          alt="Home hero image"
          class="back-drop-img"
        />
      </div>
      <div class="home-hero-info">
        <h2 class="title home-hero-title">Let’s Make Your Own Cinema</h2>
        <p class="home-hero-text film-overview">
          Is a guide to creating a personalized movie theater experience. You'll
          need a projector, screen, and speakers. Decorate your space, choose
          your films, and stock up on snacks for the full experience.
        </p>
      </div>
      <div class="home-hero-buttons-container">
        <button type="button" class="get-started-btn">Get Started</button>
      </div>
    </div>
  </div>
</section>
